<h2>SAFE-xWIDL Static Analyzer</h2>

<h3>Upload</h3>
<form action="submit" enctype="multipart/form-data" method="post">
    <p>Upload a JavaScript file and submit. Analysis might take a few seconds.</p>
    <input type="file" name="jsfile">
    <br>
    <input type="submit" value="submit">
</form>

<h3>About</h3>
<p>
    This site and <a href="https://github.com/xWIDL/safe">the adapted SAFE analyzer</a> is maintained
    by Zhen Zhang (<a href="https://github.com/izgzhen">@izgzhen</a>). <br>
    The <a href="https://github.com/sukyoung/safe">SAFE 2.0 analyzer</a> is maintained by PLRG@KAIST, thanks to their great work.
</p>
