
<% for(var i=0; i<responses.length; i++) {%>
    <h2><%= responses[i].name %></h2>
    <h3>JS</h3>
    <pre><%= responses[i].js %></pre>
    <h3>Stdout</h3>
    <pre><%= responses[i].out %></pre>
<% } %>

<a href="/">Back to home</a>
